body {
    margin: 0;
    padding: 0;
}

.cards-section {
    margin: 0;
    margin-top: 200px;
    padding: 0 85px;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.cards-section h2 {
    font-size: 55px;
    font-weight: 700;
    margin-left: 40px;
}

.cards {
    margin: 90px 0 120px 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;

}

.cards .card {
    width: 399px;
    /* height: 330px; */
    background-color: white;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    margin: 20px 12px 20px 12px;
    box-sizing: border-box;
}



.cards .card img {
    width: 100%;
    margin: 0;
}

.cards .card .card-content {
    height: 150px;
    padding: 10px 20px 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cards .card h4 {
    font-size: 30px;
    margin: 0;
    line-height: 30px;
}

.cards .card p {
    margin: 0;
    width: 75%;
    font-size: 25px;
    line-height: 32px;
}




.fdback-section {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 90px 120px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto Slab', serif;
}

.fdback-section .fdback-content h2 {
    font-size: 55px;
    font-weight: 700;
    margin: 0 0 75px 0;
}

.fdback-content .fdback-box {
    width: 790px;
    height: 450px;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px 46px 47px 45px;
    box-sizing: border-box;

}

.fdback-content .fdback-box p {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 20px 0;
    font-family: 'Roboto', sans-serif;
}

.fdback-profile {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fdback-profile img {
    width: 190px;
    margin-right: 25px;
}

.fdback-profile .prof-info p {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Roboto Slab', serif;
}

.fdback-profile .prof-info img {
    width: 30px;

}

@media only screen and (max-width:1439px) {
    .cards-section {
        padding: 0 48px;
        margin-top: 125px;
    }

    .cards-section h2 {
        font-size: 32px;
        
    }

    .cards {
        margin: 55px 0 50px 0;

    }

    .cards .card {
        width: 231px;
        /* height: 190px; */
        background-color: white;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17px;
        margin: 10px 7.5px 10px 7.5px;
    }



    .cards .card img {
        width: 100%;
        margin: 0;
    }

    .cards .card .card-content {
        height: 70px;
        padding: 6px 11px 13px;
    }


    .cards .card h4 {
        font-size: 17px;
        margin: 0;
        line-height: 16px;
    }

    .cards .card p {
        margin: 0;
        width: 70%;
        font-size: 14px;
        line-height: 18px;
    }



    .fdback-section {
        padding: 50px 70px;
    }

    .fdback-section .fdback-content h2 {
        font-size: 32px;
        margin: 0 0 40px 0;
    }

    .fdback-content .fdback-box {
        width: 460px;
        height: 260px;
        border-radius: 18px;
        padding: 23px 26px 26px 16px;
        box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);

    }

    .fdback-content .fdback-box p {
        font-size: 12px;
        line-height: 18px;
        margin: 0 0 5px 0;
        font-family: 'Roboto', sans-serif;
    }

    .fdback-profile img {
        width: 110px;
        margin-right: 17px;
    }

    .fdback-profile .prof-info p {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 17px;
        font-family: 'Roboto Slab', serif;
    }

    .fdback-profile .prof-info img {
        width: 20px;
    }


}



@media only screen and (min-width:1056px) and (max-width:1439px) {
    .cards .card {
        width: 24%;
        /* height: 220px; */
        border-radius: 31px;
        margin: 10px 10px 10px 0;
    }

}


@media only screen and (max-width:833px) {
    .cards-section {
        padding: 0 35px;
        margin-top: 60px;
    }

    .cards-section h2 {
        font-size: 26px;
        margin-left: 0;
    }

    .cards {
        margin: 35px 0 30px 0;
        justify-content: center;
    }

    .cards .card {
        width: 185px;
        height: 150px;
        background-color: white;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 13px;
        margin: 12px 20px 12px 0;
    }

    .cards .card img {
        width: 100%;
        margin: 0;
    }

    .cards .card .card-content {
        height: 54px;
        padding: 7px 6px 11px 10px;
    }


    .cards .card h4 {
        font-size: 14px;
        margin: 0;
        line-height: 13px;
    }

    .cards .card p {
        margin: 0;
        width: 75%;
        font-size: 12px;
        line-height: 15px;
    }


    /* .fdback-section {
        padding: 45px 35px;
    } */

    .fdback-section .fdback-content h2 {
        font-size: 26px;
        margin: 0 0 30px 0;
    }

    .fdback-content .fdback-box {
        width: 310px;
        height: 250px;
        border-radius: 13px;
        padding: 18px 21px 13px;
        box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
        margin: 0 auto;
    }

    .fdback-content .fdback-box p {
        font-size: 10px;
        line-height: 15px;
        margin: 0 0 20px 0;
        font-family: 'Roboto', sans-serif;
    }

    .fdback-profile img {
        width: 80px;
        margin-right: 14px;
    }

    .fdback-profile .prof-info p {
        font-size: 14px;
        margin-bottom: 15px;
        font-family: 'Roboto Slab', serif;
    }

    .fdback-profile .prof-info img {
        width: 14px;
    }

}