@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
}

/* About-course section */
.about-course{
    width: 100%;
    min-height: 363.46px;
    background-color: #9DC9C8;
    padding: 179px 0 185px 122px;
    font-weight: 700;
}
.about-course-container{
    width: 63%;
    height: 401px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.course-start-date{
    font-size: 55px;
    line-height: 101.38%;
    font-family: "Roboto Slab";
}
.price-heading{
    font-size: 25px;
    font-weight: 400;
    line-height: 101.38%;
    box-sizing: border-box;
}
.price{
    height: 85px;
    font-size: 80px;
    font-weight: 400;
    line-height: 101.38%;
}


.description{
    display: flex;
    font-weight: 400;
}
.description-heading{
    width: 294px;
    height: 32px;
    font-size: 25px;
    margin-bottom: 9px;
    font-weight: 400;
    line-height: 101.28%;
}
.about-course-description{
    max-width: 294px;
    font-size: 18px;
    font-weight: 400;
    line-height: 101.38%;
}
.description-item{
    margin-right: 54px;
}

/* Footer */
.footer{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}
.footer-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 122px;
}
.footer-social{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.footer-contact{
    font-size: 25px;
    font-weight: 400;
    line-height: 101%;
    margin-top: 54px;
}
.social-logo-div{
    margin-bottom: 28px;
}
.social-logo{
    width: 115px;
    height: 68px;
}
.social-logo-list{
    width: 200px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 146px;
}
.logo{
    width: 34px;
    height: 34px;
}
.phone-number{
    display: flex;
}
.email{
    display: flex;
}
.phone-logo{
    width: 27px;
    height: 27px;
    margin-right: 22px;
}
.email-logo{
    width: 27px;
    height: 18px;
    margin-right: 22px;
}
.phone-number-text{
    width: 230px;
    height: 40px;
}
.email-text{
    width: 269px;
    height: 40px;
}
.copyright{
    margin: 0 0 30px 122px;
    font-size: 18px;
}